{% extends 'main/base.html' %}


{% block title %}Create New Game{% endblock %}

{% block content %}
<h1>Update {{ game.title }}</h1>

<div class="row">

    <div class="col-6">

        <form class="d-flex flex-column gap-2" action="{% url 'games:game_update_view' game.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" placeholder="Title" name="title" class="form-control" value="{{game.title}}"/>
            <textarea placeholder="Description" name="description" class="form-control">{{game.description}}</textarea>
            <input type="text" placeholder="Publisher" name="publisher" class="form-control" value="{{game.publisher}}"/>
            <select class="form-select" name="rating">
                <option >Rating</option>
                <option value="1" {% if game.rating == 1 %}selected{% endif %}>One</option>
                <option value="2" {% if game.rating == 2 %}selected{% endif %}>Two</option>
                <option value="3" {% if game.rating == 3 %}selected{% endif %}>Three</option>
                <option value="4" {% if game.rating == 4 %}selected{% endif %}>Four</option>
                <option value="5" {% if game.rating == 5 %}selected{% endif %}>Five</option>
              </select>
            <input type="date" name="release_date" class="form-control" value="{{game.release_date.isoformat}}"/>

            <div class="row">
                <div class="col-3">
                    <img src="{{game.poster.url}}" class="w-100" />
                </div>
                <div class="col">
                    <input type="file" name="poster" class="form-control"/>
                    <!-- category -->
                    <h6 class="pt-3">Category:</h6>
                    {% for category in categories %}
                        <input class="form-check-input" type="checkbox" id="category-{{ category.id }}" value="{{ category.id }}" />
                        <label class="form-check-label" for="category-{{ category.id }}">{{ category.name }}</label>
                    {% endfor %}
                </div>
            </div>
        
            <input type="submit" value="update Game" class="btn btn-primary" />

        </form>


    </div>

</div>

{% endblock %}